/* Use the following import on the local CSS file to import the colours

@import url('../colour.css'); 

*/

:root{
    --header-colour-primary: #212529;
    --background-colour-primary: #333333;

    --text-colour-primary: #CED4DA;
    --text-colour-secondary: #ADB5BD;
    --text-colour-tertiary: #d4d4d4;

    --input-form-background-colour: #252525;
    
    --border-colour-primary: #8b8b8b;

    --content-background-colour-primary: #464646;
    --content-background-colour-secondary: #2b2b2b;
    --content-background-colour-tertiary: #2e2e2e; 

    --profile-background-colour: #5f5f5f5f;

    --button-text-colour-primary: #a8a8a8;
    --button-text-colour-secondary: #ffffff;
    --button-background-colour: #7e7e7ea4;
    --button-highlight-colour-primary: #b92020;
    --button-highlight-colour-secondary: #881d1d;

    --red-light-0: #ff0606;
    --red-0: #ff0000;
    --red-9: #b81e1e9c;

    --shadow-black: #0a0a0a;

    --gray-0: #c0c0c0;
    --gray-1: #b1b1b1;
    --gray-2: #999999;
    --gray-3: #858585;
    --gray-4: #6d6d6d;
    --gray-5: #505050;
    --gray-6: #464646;
    --gray-7: #3b3b3b;
    --gray-8: #272727;

    --colour-palette-0: #212529;
    --colour-palette-0-dark: #181b1f;
    --colour-palette-1: #343A40;
    --colour-palette-1-dark: #2e343a;
    --colour-palette-2: #495057;
    --colour-palette-3: #6C757D;
    
    --colour-palette-10: #1a1d1f;
    --colour-palette-10-dark: #141618;
    
    
}