#profilePage, #profilePageEdit{
    background-color: var(--content-background-colour-primary);
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: fit-content;
}

.profileTitle{
    display: flex;
    justify-content: space-between;
}


.profilePageTeamContent{
    background-color: var(--content-background-colour-tertiary);
    text-align: center;
}

.userTeams{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#editProfile, #doneProfile{
    border: 3px solid;
    border-color: var(--border-colour-primary);
    border-radius: 5px;
    align-self: center;
    padding: 0.5rem;
    width: 6em;
    text-align: center;
    background-color: var(--content-background-colour-tertiary);
}


.userDetails, .profileUsername, .profileEmail, .profileGame{
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.userDetails{
    padding-bottom: 1rem;
}

.userDetails input{
    padding-left: 0.5rem;
}

.editContent{
    border: 2px solid;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    min-width: 400px;
    background-color: var(--profile-background-colour);
}

.contentTitle{
    border-bottom: 3px solid;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
}

.inputs{
    font-size: 1.5rem;
}

.submit-button{
    display: flex;
    justify-content: center;
}

.submit-button button{
    width: 150px;
    height: 50px;
    background-color: inherit;
    border: solid 2px white;
    border-radius: 4px;
    color: var(--button-text-colour-primary);
    font-size: 1.1rem;
    font-weight: 550;
    margin: 4px;
    transition: all 0.2s;
}

.submit-button button:hover{
    background-color: var(--button-highlight-colour-primary);
    border-color: var(--button-highlight-colour-secondary);
    color: var(--button-text-colour-secondary);
}

.submit-button button:focus{
    outline: none;
}

.editProfileSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}