<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esportsplayerfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESportsPlayerFinder"
        android:usesCleartextTraffic="true">
        <activity android:name=".My_Teams"></activity>
        <activity
            android:name=".Create_Team"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar" />
        <activity
            android:name=".Find_Team"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar" />
        <activity
            android:name=".Account_Settings"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar" />
        <activity
            android:name=".Activity_Profile"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar" />
        <activity
            android:name=".FriendsPage"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ESportsPlayerFinder.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>